<a href="https://colab.research.google.com/github/mubinui/PythonProjects/blob/master/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets work with sets in python

In [ ]:
myset = {'apple','banana','cherry'}
#check brackets at the time of using set 
print(myset)
print(len(myset))
print(type(myset))
set01 = {'abc',34,True,40,'male'}
print(set01)

{'apple', 'cherry', 'banana'}
3
<class 'set'>
{True, 34, 40, 'male', 'abc'}

In [1]:
#We can use set(()) constructer to make a set 
set_a = set(('mubin','apple','samsung','titen','galaxy'))
print(set_a)# no duplicate allowed 
print(len(set_a))

{'mubin', 'titen', 'apple', 'samsung', 'galaxy'}
5

In [ ]:
#Set Items Data Types
set1 = {"apple","banana","cherry"}
set2 = {1,2,3,4,5}
set3 = {True,False,False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [ ]:
# We can create set with differnt data types 
setmix = {'apple',34,34,True,True,False,"Mubin"}
print(setmix)
print(len(setmix))

{False, True, 34, 'apple', 'Mubin'}
5

In [ ]:
# The set Constructor
setcon = set(('a','b','c','d','e'))
print(setcon)
#Using set with loop 
for x in setcon:
    print(x)
# Add operation in set
setcon.add("n")
print(setcon)

{'b', 'a', 'e', 'd', 'c'}
b
a
e
d
c
{'b', 'n', 'a', 'e', 'd', 'c'}

In [2]:
#update operations in set
seta = {"apple","mango","jackfruit"}
setb = {"grape","coconut","lichi"}
seta.update(setb)
print(seta)
#update operation can add lists and set or any iterables 
lista = ["mubin",'coconut','white','teelo']
seta.update(lista)
print(seta)

{'grape', 'coconut', 'lichi', 'jackfruit', 'mango', 'apple'}
{'grape', 'white', 'coconut', 'teelo', 'lichi', 'jackfruit', 'mango', 'mubin', 'apple'}

In [3]:
#Removing set items 
thisset = {'apple','lichi','rose','rose','rose'}
thisset.remove('rose')
thisset.discard('apple')
#Discard method
print(thisset)

{'lichi'}

In [ ]:
# working with some methods 
setc = set(("apple","banana","pineapple","mango","berry")) # set builder method 
print(setc)
#pop method
setc.pop()#pops the first item
setc

{'banana', 'apple', 'berry', 'pineapple', 'mango'}

{'apple', 'berry', 'mango', 'pineapple'}

In [ ]:
setd = set(("apple","banana","pineapple","mango","berry"))
#clear method
#setd.clear() returns an empty set
print(setd)
del setd # Deletes the set completely

{'banana', 'apple', 'berry', 'pineapple', 'mango'}

Join Sets Union , Update, intersection_update , symmetric_difference_update

In [ ]:
x = {"apple", "banana","coconut","lemon","mango"}
y = {"google","microsoft","apple","mango"}
unionOperation = x.union(y)#returns
print(unionOperation,"union operation")
x.update(y)#voidmethod
print(x,"update operation")

{'coconut', 'microsoft', 'mango', 'banana', 'google', 'apple', 'lemon'} union operation
{'microsoft', 'banana', 'google', 'apple', 'coconut', 'mango', 'lemon'} update operation

In [ ]:
 x = {"apple", "banana","coconut","lemon","mango"}
 y = {"google","microsoft","apple","mango"}
 #Lets try Intersection operation # returns or update just the common items 
 intersectionOperation = x.intersection(y)
 print(intersectionOperation,"Intersection Operation # returns ") 
 x.intersection_update(y)
 print(x,"Intersection operation")

{'apple', 'mango'} Intersection Operation # returns
{'apple', 'mango'} Intersection operation

In [ ]:
 x = {"apple", "banana","coconut","lemon","mango"}
 y = {"google","microsoft","apple","mango"}

sset = x.symmetric_difference(y) #keep all except the items are common 
print(sset)

{'microsoft', 'banana', 'google', 'coconut', 'lemon'}