<a href="https://colab.research.google.com/github/mubinui/PythonProjects/blob/master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets do some work with touples () # touple signature

In [ ]:
mytuple = ('apple','banana','cherry')
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
#Allow duplicates 
mytouple = ('apple','banana','cherry','apple','cherry')
print(mytouple)
#touple length
print(len(mytouple))
print(type(mytouple))
mytouple00 = (1,2,3,4,5,8)
print(type(mytouple00))
mytouple01 = ('abc',34,True,'male')
print(mytouple01)

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>
<class 'tuple'>
('abc', 34, True, 'male')

Accessing touple items

In [ ]:
mytouple = ('apple','banana','cherry')
print(mytouple[1:])

('banana', 'cherry')

In [ ]:
#conditonal statements in touple 
mytouple = ('apple','banna','cherry')
if 'apple' in mytouple:
    print('Yes, come on baby ')

Yes, come on baby

Touples are **Inchangabe or immutable**

In [ ]:
x = ('coconut', 'apple','banana', 'cherry')
# first we need to convert touple to list then we can insertion or deletion 
y = list(x)
y[1] = ('uic')
print(y)
#append() dont work with touple 
#deleting values from touple 
#y.remove('apple') Not possible 
print(x)
del x
#print(x) Not possible because deleted completely

['coconut', 'uic', 'banana', 'cherry']
('coconut', 'apple', 'banana', 'cherry')

Unpacking a touple

In [ ]:
fruits = ('apple','banana', 'coconut','cherry')
(a,b,c,d) = fruits
print(a,"\n",b,c)
# printing on the same line python 
#using of asterix (till end )
fruits_more = ('apple','banana', 'coconut','cherry','goava','pineapple','green apple ', 'blueberry')
(a,b,c,*d) = fruits_more
print(d)
print(a)
print(b)
print(c)

apple
 banana coconut
['cherry', 'goava', 'pineapple', 'green apple ', 'blueberry']
apple
banana
coconut

In [ ]:
thistouple = ('a','b','c','d','e','f','g','h','i','j','k')
list01 = [thistouple[i] for i in range(len(thistouple))]
print(list01)
#joining two touples 
touple1 = ('a','b','c')
touple2 = (1,2,3)
touple3 = touple1 + touple2
print(touple3)
mytouple_a = touple3 * 2
print(mytouple_a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3)

Touple methods

In [ ]:
#count(),index()